## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key= "AIzaSyDWL3dWmRlIToKRgGyO2Xf64zjPQ8nk0MA")

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Yima,CN,34.7381,111.8839,75.83,52,5,10.20,clear sky,2022-09-14 02:31:28
1,1,Chara,RU,56.9064,118.2631,50.27,52,63,4.83,broken clouds,2022-09-14 02:31:29
2,2,Embonas,GR,36.2269,27.8564,71.83,56,0,17.69,clear sky,2022-09-14 02:31:29
3,3,Cayenne,GF,4.9333,-52.3333,78.84,89,0,4.61,clear sky,2022-09-14 02:31:30
4,4,Atuona,PF,-9.8000,-139.0333,76.48,70,0,12.64,clear sky,2022-09-14 02:28:25

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What's the minimum temperature you'd like for your trip? "))
max_temp = float(input("What's the maximum temperature you'd like for your trip? "))

What's the minimum temperature you'd like for your trip? 66
What's the maximum temperature you'd like for your trip? 78

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
pref_temp_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
pref_temp_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Yima,CN,34.7381,111.8839,75.83,52,5,10.20,clear sky,2022-09-14 02:31:28
2,2,Embonas,GR,36.2269,27.8564,71.83,56,0,17.69,clear sky,2022-09-14 02:31:29
4,4,Atuona,PF,-9.8000,-139.0333,76.48,70,0,12.64,clear sky,2022-09-14 02:28:25
8,8,Palmer,US,42.1584,-72.3287,69.46,83,40,6.91,scattered clouds,2022-09-14 02:31:32
10,10,Rikitea,PF,-23.1203,-134.9692,72.25,72,100,7.63,light rain,2022-09-14 02:31:32
11,11,Ribeira Grande,PT,38.5167,-28.7000,74.80,91,19,15.12,moderate rain,2022-09-14 02:31:33
14,14,Yuli,NG,9.6989,10.2744,69.84,95,92,3.40,overcast clouds,2022-09-14 02:31:34
21,21,Arraial Do Cabo,BR,-22.9661,-42.0278,70.05,85,71,16.78,broken clouds,2022-09-14 02:27:34
23,23,Ginda,IN,30.6945,78.4932,66.40,87,94,2.55,moderate rain,2022-09-14 02:31:37
25,25,Kashi,CN,39.4547,75.9797,70.81,35,28,4.47,dust,2022-09-14 02:31:38

In [6]:
# 4a. Determine if there are any empty rows.
pref_temp_df.count()

City_ID                215
City                   215
Country                214
Lat                    215
Lng                    215
Max Temp               215
Humidity               215
Cloudiness             215
Wind Speed             215
Current Description    215
Date                   215
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = pref_temp_df.replace(r'^\s+$', np.nan, regex=True)
clean_df.count()

City_ID                215
City                   215
Country                214
Lat                    215
Lng                    215
Max Temp               215
Humidity               215
Cloudiness             215
Wind Speed             215
Current Description    215
Date                   215
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Yima,CN,75.83,clear sky,34.7381,111.8839,
2,Embonas,GR,71.83,clear sky,36.2269,27.8564,
4,Atuona,PF,76.48,clear sky,-9.8000,-139.0333,
8,Palmer,US,69.46,scattered clouds,42.1584,-72.3287,
10,Rikitea,PF,72.25,light rain,-23.1203,-134.9692,
11,Ribeira Grande,PT,74.80,moderate rain,38.5167,-28.7000,
14,Yuli,NG,69.84,overcast clouds,9.6989,10.2744,
21,Arraial Do Cabo,BR,70.05,broken clouds,-22.9661,-42.0278,
23,Ginda,IN,66.40,moderate rain,30.6945,78.4932,
25,Kashi,CN,70.81,dust,39.4547,75.9797,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, hotel in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = hotel["Lat"]
    lng = hotel["Lng"]
    params["location"]= f'{lat},{lng}'

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.replace(r'^\s+$', np.nan, regex=True)
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Yima,CN,75.83,clear sky,34.7381,111.8839,Yima Hotel
2,Embonas,GR,71.83,clear sky,36.2269,27.8564,Hotel Ataviros
4,Atuona,PF,76.48,clear sky,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
8,Palmer,US,69.46,scattered clouds,42.1584,-72.3287,Wedgewood Motel
10,Rikitea,PF,72.25,light rain,-23.1203,-134.9692,People ThankYou

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current description</dt><dd>{Current Description}</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))